{template "content","header_1"}
<section class="LayoutMiddle pagewidth">
    <div style="clear:both;"></div>
    <aside class="LayoutLeftColumn">
        <div class="LayoutLeftColumnInner">
            <div id="ctl27_dvControl" class="Control CategoryNavigationLinks Control_359">
                <div id="ctl27_dvControlHeader" class="ControlHeader ControlHeader_359">Product Categories</div>
                {pc:content action="category" catid="28" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	

                <div class="ControlHeader ControlHeader_359" style="margin-top:20px;">Recommended</div>
                {pc:content action="category" catid="29" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	
            </div>

            <div id="ctl28_dvControlHeader" class="ControlHeader ControlHeader_528"></div>
        </div>
    </aside>
    <section class="LayoutContent">
        <div class="LayoutContentInner">
            <span id="lblCategoryTrail" class="CategoryCategoryTrail">
                <a href="{siteurl($siteid)}">Home</a> &gt;{catpos($catid)}
            </span><br><br>
            <div><span id="lblCategoryHeader" class="CategoryCategoryHeader"></span></div>
            <div id="dvWrapControl2250" style="clear: both;">
                <div id="ctl45_dvControl" class="Control ProductDisplay Control_2250">
                    <div id="ctl45_dvControlHeader" class="ControlHeader ControlHeader_2250">Best Sellers</div>
                    <table id="ctl45_dlItems" style="width:100%;border-collapse:collapse;" border="0" cellspacing="0">
                        <tbody>       
                            {pc:content  action="position"   posid="19" thumb="1" order="listorder DESC" num="3"} 
                            <tr>
                                {loop $data $r}                                                          
                                <td class="ControlItem" style="border-width:0px;height:0px;width:33.33333%;">
                        <ac:layoutarea id="Item">
                            <ac:visibilityarea id="dvControlItem">      
                                <div class="FeaturedItemsItem">
                                    <div class="FeaturedItemsThumbNail FeaturedItemsThumbNail_2250">
                                        <a href="{$r[url]}" title="{$r[title]}" id="ctl45_dlItems_ctl00_lnkThumbnail">
                                            <img id="ctl45_dlItems_ctl00_iThumbnail" class="FeaturedItemsThumbNail FeaturedItemsThumbNail_2250" src="{thumb($r[thumb],110,0)}" alt="{$r[title]}" style="border-width:0px;" height="122" width="178">
                                        </a>
                                    </div>
                                    <div class="FeaturedItemsPriceTab">
                                        <div class="FeaturedItemsName">
                                            <a id="ctl45_dlItems_ctl00_hlProductName" class="ControlLink ControlLink_2250" href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],40,'')}...</a>
                                        </div>
                                        <div class="FeaturedItemsPrice">
                                            <span id="ctl28_dlItems_ctl01_ltrPrice">
                                                <span id="lblSalePriceArea_181_6162" class="lblSalePriceArea">
                                                    {pc:get sql="select * from v9_goods_data where id=$r[id]" return="v"}
                                                    {loop $v $p}                
                                                    <span id="lblSalePrice_181_6162" class="lblSalePrice">{$p[Price]}</span>    
                                                    {/loop}
                                                    {/pc}
                                                </span>                                                    
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ac:visibilityarea>
                        </ac:layoutarea>
                        </td>

                        {/loop}
                        </tr>
                        {/pc}
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="clear:both"></div>
            <div id="dvNavTop">
                <div class="ControlHeader ControlHeader_2250">Product List</div>
            </div>    
            <table id="ctl45_dlItems" style="width:100%;border-collapse:collapse;" border="0" cellspacing="0">
                <tbody>
                    {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
                    <tr>  {loop $data $r}
                      
                        <td class="ControlItem" style="border-width:0px;height:0px;width:33.33333%;">
                <ac:layoutarea id="Item">
                    <ac:visibilityarea id="dvControlItem">      
                        <div class="FeaturedItemsItem">
                            <div class="FeaturedItemsThumbNail FeaturedItemsThumbNail_2250">
                                <a href="{$r[url]}" title="{$r[title]}" id="ctl45_dlItems_ctl00_lnkThumbnail">
                                    <img id="ctl45_dlItems_ctl00_iThumbnail" class="FeaturedItemsThumbNail FeaturedItemsThumbNail_2250" src="{thumb($r[thumb])}" alt="{$r[title]}" style="border-width:0px;" height="122" width="178">
                                </a>
                            </div>
                            <div class="FeaturedItemsPriceTab">
                                <div class="FeaturedItemsName">
                                    <a id="ctl45_dlItems_ctl00_hlProductName" class="ControlLink ControlLink_2250" href="{$r[url]}" title="{$r[title]}">{$r[title]}</a>
                                </div>
                                <div class="FeaturedItemsPrice">
                                    <span id="ctl28_dlItems_ctl01_ltrPrice">
                                        <span id="lblSalePriceArea_181_6162" class="lblSalePriceArea">
                                            {pc:get sql="select * from v9_goods_data where id=$r[id]" return="v"}
                                            {loop $v $p}                
                                            <span id="lblSalePrice_181_6162" class="lblSalePrice">{$p[Price]}</span>    
                                            {/loop}
                                            {/pc}                                              
                                        </span>                                           
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ac:visibilityarea>
                </ac:layoutarea>
                </td>
                {/loop}
                </tr>
                <div id="pages" class="text-c">{$pages}</div>
                {/pc}
                </tbody>
            </table>
            <div style="clear:both"></div>
            <div class="pagenavi"></div>
        </div>
        <div style="clear:both"></div>
    </section>
</section>
{template "content","footer"}