{template "content","header_1"}
<section class="LayoutMiddle pagewidth">
    <div style="clear:both;"></div>
    <aside class="LayoutLeftColumn">
        <div class="LayoutLeftColumnInner">
            <div id="ctl27_dvControl" class="Control CategoryNavigationLinks Control_359">
                <div id="ctl27_dvControlHeader" class="ControlHeader ControlHeader_359">Product Categories</div>
               {pc:content action="category" catid="28" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	

                <div class="ControlHeader ControlHeader_359" style="margin-top:20px;">Recommended</div>
                {pc:content  action="position" posid="10" catid="$catid"  order="listorder DESC" num="5"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[title]}" class="ControlLink_Link ControlLink_Link_359">{$r[title]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	
            </div>

            <div id="ctl28_dvControlHeader" class="ControlHeader ControlHeader_528"></div>
        </div>
    </aside>
    <section class="LayoutContent">
        <div class="LayoutContentInner">
            <span id="lblCategoryTrail" class="CategoryCategoryTrail">
                 <a href="{siteurl($siteid)}">Home</a> &gt;{catpos($catid)}
            </span><br><br>
            <div><span id="lblCategoryHeader" class="CategoryCategoryHeader"></span></div>
            <div id="dvWrapControl2250" style="clear: both;;"><div id="ctl45_dvControl" class="Control ProductDisplay Control_2250">
                    <div id="ctl45_dvControlHeader" class="ControlHeader ControlHeader_2250">{$CATEGORYS[$catid][catname]}</div>
                    <div id="text_list">
                         {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
                        <ul class="list lh24 f14">
                            {loop $data $r}
                            <li><a href="{$r[url]}" title="{$r[title]}" style="">{$r[title]}</a><span>{date('Y-m-d H:i:s',$r[inputtime])}</span></li>
                            {if $n%5==0}<li class="bk20 hr"></li>{/if}
                            {/loop}
                        </ul>
                         <div class="pagenavi">{$pages}</div>
                        {/pc}
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div style="clear:both"></div>
    </section>
</section>
{template "content","footer"}