{template "content","header"}
        <section class="LayoutMiddle pagewidth">
            <section class="LayoutContent">
                <div itemscope="" itemtype="http://schema.org/Product" class="LayoutContentInner">
                    <h2>Inquiry</h2>
                    <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=14&action=js&siteid=1'></script>
                </div>
                <div style="clear:both"></div>
            </section>
        </section>
{template "content","footer"}