{template "content","header"}
<section class="LayoutMiddle pagewidth">
    <div style="clear:both;"></div>
    <aside class="LayoutLeftColumn">
        <div class="LayoutLeftColumnInner">
            <div id="ctl27_dvControl" class="Control CategoryNavigationLinks Control_359">
                <div id="ctl27_dvControlHeader" class="ControlHeader ControlHeader_359">Technical documents</div>
                {pc:content action="category" catid="22" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>
                <div id="ctl27_dvControlHeader" class="ControlHeader ControlHeader_359">Product Categories</div>
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	
                {pc:content action="category" catid="28" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div class="ControlHeader ControlHeader_359" style="margin-top:20px;">Recommended</div>
                {pc:content action="category" catid="29" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <div class="ControlItem ControlItem_359">
                    <div class="ControlLink ControlLink_359">
                        <a href="{$r[url]}" title="{$r[catname]}" class="ControlLink_Link ControlLink_Link_359">{$r[catname]}</a>
                    </div>
                </div>
                {/loop}
                {/pc}
                <div id="ctl27_dvControlFooter" class="ControlFooter ControlFooter_359"></div>	
            </div>

            <div id="ctl28_dvControlHeader" class="ControlHeader ControlHeader_528"></div>
        </div>
    </aside>
    <section class="LayoutContent">
        <div class="LayoutContentInner">
            <span id="lblCategoryTrail" class="CategoryCategoryTrail">
                <a href="{siteurl($siteid)}">Home</a> &gt; {catpos($catid)}
            </span><br><br>
            <div><span id="lblCategoryHeader" class="CategoryCategoryHeader"></span></div>
            <div id="dvWrapControl2250" style="clear: both">
                <div id="ctl45_dvControl" class="Control ProductDisplay Control_2250">
                    <div id="content">
                        <div id="title_wrap">
                            <h1 id="title">{$title}</h1>
                            <div id="info"><span>{$inputtime}&nbsp;&nbsp;Views: <span id="hits"></span></span></div>
                        </div>
                        <div id="c_txt">
                            {$content}
                            <div class="page_nav"></div>
                            <!--vote-->
                        </div>
                        <div id="prev_next">
                            <div id="prev">Prev: <a href="{$previous_page[url]}" title="{$previous_page[title]}">{$previous_page[title]}</a></div>
                            <div id="next">Next: <a href="{$next_page[url]}" title="{$next_page[title]}">{$next_page[title]}</a></div>  
                        </div>
                    </div>

                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div style="clear:both"></div>
    </section>
</section>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}