<html>
    <head>
        <meta http-equiv="Content-Language" content="zh-cn">
        <meta http-equiv="Content-Type" content="text/html; charset=gbk">
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta http-equiv="keywords" content="{$SEO['keyword']}">
        <meta name="description" content="{$SEO['description']}">
        <meta name="author" content="lidf">
        <link rel="stylesheet" type="text/css" href="{CSS_PATH}suzhou/css.css">
    </head>
    <body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" bgcolor="#C0E3F1" marginheight="0" marginwidth="0">
        <div align="center">
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="1003">
                <tbody><tr>
                        <td>
                            <map name="FPMap0">
                                <area href="http://www.szftgc.com/contact.asp" shape="rect" coords="833, 23, 891, 41">
                                <area href="javascript:window.external.AddFavorite('http://www.szftgc.com',%20'%E8%8B%8F%E5%B7%9E%E6%8A%9A%E7%89%B9%E9%92%A2%E6%9D%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8')" shape="rect" coords="905, 23, 962, 42">
                            </map>
                            <img src="{IMG_PATH}suzhou/index_01.gif" usemap="#FPMap0" border="0" height="77" width="1003"></td>
                    </tr>
                </tbody></table>
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="1003">
                <tbody><tr>
                        <td>
                            <img src="{IMG_PATH}suzhou/index_02.gif" height="9" width="1003"></td>
                    </tr>
                </tbody></table>
            <table background="{IMG_PATH}suzhou/index_03.jpg" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" height="193" width="1003">
                <tbody><tr>
                        <td align="center">
                            <table id="table20" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                        <td>
                                            <object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj2" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" height="193" width="466">
                                                <param name="movie" value="0011.swf">
                                                <param name="quality" value="High">
                                                <param name="wmode" value="transparent">
                                                <embed src="{IMG_PATH}suzhou/0011.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj2" quality="High" wmode="transparent" height="193" width="466"></object>
                                        </td>
                                        <td width="525">
                                            <object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" height="193" width="520">
                                                <param name="movie" value="f.swf">
                                                <param name="quality" value="High">
                                                <param name="wmode" value="transparent">
                                                <embed src="{IMG_PATH}suzhou/f.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" quality="High" wmode="transparent" height="193" width="520"></object>
                                        </td>
                                    </tr>
                                </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
            <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="1003">
                <tbody><tr>
                        <td>
                            <map name="FPMap1">
                                <area href="http://www.szftgc.com/index.asp" shape="rect" coords="21, 6, 98, 33">
                                <area href="http://www.szftgc.com/about.asp" shape="rect" coords="145, 6, 224, 33">
                                <area href="http://www.szftgc.com/ziyuan.asp" shape="rect" coords="269, 6, 349, 33">
                                <area href="http://www.szftgc.com/product.asp" shape="rect" coords="394, 6, 475, 33">
                                <area href="http://www.szftgc.com/guest.asp" shape="rect" coords="518, 6, 597, 33">
                                <area href="http://www.szftgc.com/contact.asp" shape="rect" coords="641, 5, 723, 33">
                                <area target="_blank" href="http://mail.szftgc.com/" shape="rect" coords="764, 5, 843, 33">
                                <area shape="rect" coords="892, 5, 979, 33" href="http://www.szftgc.com/en.asp">
                            </map>
                            <img src="{IMG_PATH}suzhou/index_04.gif" usemap="#FPMap1" border="0" height="36" width="1003"></td>
                    </tr>
                </tbody>
            </table>